mat-toolbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 2;

  .toolbar-start {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      img {
        width: 7rem;
        border-radius: 0 0 0.5rem 0.5rem;
      }
    }
  }
}
